<h1>There are <%= @members.length %> members of the Order of Phoenix in the house of Gryffindor</h1>
<ol>
<% @members.each do |member| %>
  <section class='member'>
    <section class='name'>
      <li><strong>Name:</strong> <%= member.name %></li><br>
    </section>
    <section class='role'>
      <strong>Role of the member:</strong>
      <% if member.role.nil? %>
        This member has no role
      <% else %>
        <%= member.role %><br>
      <% end %>
    </section>
    <section class='house'>
      <strong>Member belongs to the following house:</strong> <%= member.house %><br>
    </section>
    <section class='patronus'>
      <strong>Patronus:</strong>
      <% if member.patronus.nil? %>
        This member has no patronus
      <% else %>
       <%= member.patronus %><br><br><br>
      <% end %>
    </section>       
  </section>
<% end %>
</ol>